@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

:root{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: #4c4b8eff;
  --bg-primary: #ab9df2ff;
  --bg-secondary: #27274bff;
  --bg-secondary-2: #4c4b8eff;
  --btn-primary: #4c4b8eff;
  --btn-text: white;
  --pop-up-bg: whitesmoke;
  --pop-up-text: #27274bff;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1000px;
  margin: auto;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary); 
}

.header {
  margin: 0 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: var(--btn-primary);
  color: var(--btn-text);
  border: 2px solid var(--btn-primary);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
  width: 150px;
}

.btn:hover {
  /* color: var(--btn-primary);
  background-color: var(--text-primary);
  border: 2px solid var(--btn-primary); */
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  font-weight: bold;
}

.header-btn {
  color: var(--btn-primary);
}

.header-btn:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.flashcard-list {
  display: grid;
  align-items: center;
}

.flashcard {
  background-color: var(--bg-secondary);
  margin: 10px 5px;
  padding: 10px 20px 40px 10px;
  border-radius: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.flashcard:not(.edit):hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flashcard:not(.edit):active {
  transform: scale(0.98);
  box-shadow: none;
}

.flashcard.edit {
  background-color: var(--bg-secondary);
}

.flashcard-header {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
  display: inline-flex;
  gap: 1rem;
}

.tool {
  color: whitesmoke;
  padding-top: 2px;
}

.tool:hover {
  transform: scale(1.2);
  color: var(--bg-primary);
  cursor: pointer;
}

.label {
  display: inline-block;
  font-family: 'Encode Sans SC', sans-serif;
  color: var(--text-primary);
  font-size: 10px;
  padding-top: 5px;
}

.tag {
  display: flex;
  font-family: 'Encode Sans SC', sans-serif;
  background-color: grey;
  border: none;
  border-radius: 25px;
  color: var(--text-primary);
  font-size: 10px;
  padding: 5px;
}

.add-form {
  box-sizing: border-box;
  width: 100%;
  /* display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: 1rem; */

  padding: 10px;
  padding-right: 30px;
  margin-right: 100px;
  
  font-family: 'Encode Sans SC', sans-serif;
  background-color: var(--pop-up-bg);
  color: var(--pop-up-text);
  border-radius: 5px;
}

.form-control {
  margin: 5px;
}

.form-control input[type=text] {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 30px;
  font-size: 17px;
  font-family: 'Varela Round', sans-serif;
  border: none;
  border-bottom: 2px solid var(--bg-primary);
}

.form-control input[type=text]:focus{
  outline: none;
  border-bottom: 3px solid var(--bg-primary);
}

.btn-block {
  width: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--btn-primary);
  display: inline-block;
  background: var(--btn-text);
  color: var(--btn-primary);
  border: 2px solid var(--btn-primary);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
}

.btn-block:hover {
  background: var(--btn-primary);
  color: var(--btn-text);
  border: 2px solid var(--btn-primary);
  font-weight: bold;
}

p {
  text-align: center;
}

.fields {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.field {
  display: inline-block;
}

.vertical-line {
  border-left: 2px solid rgb(207, 207, 207);
  height: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
}


.add-button {
  text-align:center;
}

/* .add-button {
  position: relative;
  margin: 0;
  left: 50%;
} */