@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  --text-primary: #fff;
  --text-secondary: #4c4b8eff;
  --bg-primary: #ab9df2ff;
  --bg-secondary: #27274bff;
  --btn-primary: #4c4b8eff;
}

*{
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary); 
}

.header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h1:hover{
  color: var(--text-secondary);
}

.btn {
  display: inline-block;
  background: var(--btn-primary);
  color: var(--text-primary);
  border: 2px solid var(--btn-primary);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--bg-primary);
  border: 2px solid var(--btn-primary);
}

.btn:active {
  transform: scale(0.98)
}